TOP_K=3
VECTOR_DB_PATH=./data/vector_store
LANGSMITH_API_KEY=<your-api-key>
OPENAI_API_KEY=<your-api-key>
GEMINI_API_KEY=<your-api-key>

EMBEDDING_MODEL=openai/text-embedding-3-small
VN_EMBEDDING_MODEL=AITeamVN/Vietnamese_Embedding

# Used when query
QUERY_CLASSIFIER_PROVIDER=openai
GLOBAL_QUERY_PROVIDER=openai
GLOBAL_QUERY_MAX_CONCURRENCY=8
LOCAL_QUERY_PROVIDER=openai
LOCAL_QUERY_MAX_CONCURRENCY=8